<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>talkId</key>
		<string>1001</string>
		<key>user</key>
		<dict>
			<key>userId</key>
			<string>1</string>
			<key>nickName</key>
			<string>小明</string>
			<key>avatarUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
			<key>text</key>
			<string>文学是以语言文字为工具，形象化地反映客观现实、表现作家心灵世界的艺术，包括诗歌、散文、小说、剧本、寓言童话等，是文学的重要表现形式，以不同的形式即体裁，表现内心情感，再现一定时期和一定地域的社会生活。作为学科门类理解的文学，包括中国语言文学、外国语言文学及新闻传播学。</string>
		</dict>
		<key>isShare</key>
		<string>0</string>
		<key>isAttachmentType</key>
		<integer>1</integer>
		<key>images</key>
		<array>
			<dict>
				<key>imageSmallUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>imageBigUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>imageWidth</key>
				<string>100</string>
				<key>imageHeight</key>
				<string>100</string>
				<key>videoUrl</key>
				<string></string>
			</dict>
		</array>
		<key>adress</key>
		<string>中国上海</string>
		<key>time</key>
		<string>10分钟前</string>
		<key>isLike</key>
		<false/>
		<key>likes</key>
		<array>
			<dict>
				<key>userId</key>
				<string>2</string>
				<key>nickName</key>
				<string>吴亦凡</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
			<dict>
				<key>userId</key>
				<string>1</string>
				<key>nickName</key>
				<string>小明</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
		</array>
		<key>comments</key>
		<array>
			<dict>
				<key>commentId</key>
				<string>1</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>1</string>
					<key>nickName</key>
					<string>小明</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
					<key>text</key>
					<string>文学是人文学科的学科分类之一，与哲学、宗教、法律、政治并驾于社会建筑上层。</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>2</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string>你傻，我傻，谁更傻？</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>3</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>2</string>
					<key>nickName</key>
					<string>吴亦凡</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
					<key>text</key>
					<string>当然你傻!</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>commentId</key>
				<string>4</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>0</string>
					<key>nickName</key>
					<string>柏拉图</string>
					<key>avatarUrl</key>
					<string></string>
					<key>text</key>
					<string>当然你傻！</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>talkId</key>
		<string>1002</string>
		<key>user</key>
		<dict>
			<key>userId</key>
			<string>1</string>
			<key>nickName</key>
			<string>小明</string>
			<key>avatarUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
			<key>text</key>
			<string>文学是以语言文字为工具，形象化地反映客观现实、表现作家心灵世界的艺术，包括诗歌、散文、小说、剧本、寓言童话等，是文学的重要表现形式，以不同的形式即体裁，表现内心情感，再现一定时期和一定地域的社会生活。作为学科门类理解的文学，包括中国语言文学、外国语言文学及新闻传播学。</string>
		</dict>
		<key>isShare</key>
		<string>0</string>
		<key>isAttachmentType</key>
		<integer>1</integer>
		<key>images</key>
		<array>
			<dict>
				<key>imageSmallUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>imageBigUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>imageWidth</key>
				<string>100</string>
				<key>imageHeight</key>
				<string>100</string>
				<key>videoUrl</key>
				<string></string>
			</dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
            <dict>
                <key>imageSmallUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageBigUrl</key>
                <string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
                <key>imageWidth</key>
                <string>100</string>
                <key>imageHeight</key>
                <string>100</string>
                <key>videoUrl</key>
                <string></string>
            </dict>
		</array>
		<key>adress</key>
		<string>中国上海</string>
		<key>time</key>
		<string>10分钟前</string>
		<key>isLike</key>
		<false/>
		<key>likes</key>
		<array>
			<dict>
				<key>userId</key>
				<string>2</string>
				<key>nickName</key>
				<string>吴亦凡</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
			<dict>
				<key>userId</key>
				<string>1</string>
				<key>nickName</key>
				<string>小明</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
		</array>
		<key>comments</key>
		<array>
			<dict>
				<key>commentId</key>
				<string>1</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>1</string>
					<key>nickName</key>
					<string>小明</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
					<key>text</key>
					<string>文学是人文学科的学科分类之一，与哲学、宗教、法律、政治并驾于社会建筑上层。</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>2</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string>你傻，我傻，谁更傻？</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>3</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>2</string>
					<key>nickName</key>
					<string>吴亦凡</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
					<key>text</key>
					<string>当然你傻!</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>commentId</key>
				<string>4</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>0</string>
					<key>nickName</key>
					<string>柏拉图</string>
					<key>avatarUrl</key>
					<string></string>
					<key>text</key>
					<string>当然你傻！</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>talkId</key>
		<string>1003</string>
		<key>user</key>
		<dict>
			<key>userId</key>
			<string>2</string>
			<key>nickName</key>
			<string>吴亦凡</string>
			<key>avatarUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
			<key>text</key>
			<string>文学是语言文字的艺术，是社会文化的一种重要表现形式，是对美的体现。文学作品是作家用独特的语言艺术表现其独特的心灵世界的作品，离开了这样两个极具个性特点的独特性就没有真正的文学作品。</string>
		</dict>
		<key>isShare</key>
		<string>0</string>
		<key>isAttachmentType</key>
		<integer>2</integer>
		<key>video</key>
		<dict>
			<key>imageSmallUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
			<key>imageBigUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
			<key>imageWidth</key>
			<string>120</string>
			<key>imageHeight</key>
			<string>140</string>
			<key>videoUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
		</dict>
		<key>adress</key>
		<string>江苏无锡</string>
		<key>time</key>
		<string>12分钟前</string>
		<key>isLike</key>
		<false/>
		<key>likes</key>
		<array/>
		<key>comments</key>
		<array>
			<dict>
				<key>commentId</key>
				<string>1</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>1</string>
					<key>nickName</key>
					<string>小明</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
					<key>text</key>
					<string>一个杰出的文学家就是一个民族心灵世界的英雄。文学代表一个民族的艺术和智慧。</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>2</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string>你傻，我傻，谁更傻？</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>3</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>2</string>
					<key>nickName</key>
					<string>吴亦凡</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
					<key>text</key>
					<string>当然你傻!</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string>avatarUrl</string>
				</dict>
			</dict>
			<dict>
				<key>commentId</key>
				<string>4</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>0</string>
					<key>nickName</key>
					<string>柏拉图</string>
					<key>avatarUrl</key>
					<string></string>
					<key>text</key>
					<string>当然你傻！</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>talkId</key>
		<string>1004</string>
		<key>user</key>
		<dict>
			<key>userId</key>
			<string>3</string>
			<key>nickName</key>
			<string>杨洋</string>
			<key>avatarUrl</key>
			<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
			<key>text</key>
			<string>正如书中所说。</string>
		</dict>
		<key>isShare</key>
		<string>text</string>
		<key>share</key>
		<dict>
			<key>imageSmallUrl</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
			<key>text</key>
			<string>李克强:今年将全面取消手机国内长途和漫游费。</string>
			<key>textUrl</key>
			<string></string>
		</dict>
		<key>isAttachmentType</key>
		<integer>0</integer>
		<key>adress</key>
		<string>中国上海</string>
		<key>time</key>
		<string>10分钟前</string>
		<key>isLike</key>
		<true/>
		<key>likes</key>
		<array>
			<dict>
				<key>userId</key>
				<string>2</string>
				<key>nickName</key>
				<string>吴亦凡</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
			<dict>
				<key>userId</key>
				<string>1</string>
				<key>nickName</key>
				<string>小明</string>
				<key>avatarUrl</key>
				<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
				<key>text</key>
				<string></string>
			</dict>
		</array>
		<key>comments</key>
		<array>
			<dict>
				<key>commentId</key>
				<string>1</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>1</string>
					<key>nickName</key>
					<string>小明</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1206211006,1884625258&amp;fm=58</string>
					<key>text</key>
					<string>一个杰出的文学家就是一个民族心灵世界的英雄。文学代表一个民族的艺术和智慧。</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>2</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string>你傻，我傻，谁更傻？</string>
				</dict>
				<key>toUser</key>
				<dict/>
			</dict>
			<dict>
				<key>commentId</key>
				<string>3</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>2</string>
					<key>nickName</key>
					<string>吴亦凡</string>
					<key>avatarUrl</key>
					<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2625917416,3846475495&amp;fm=58</string>
					<key>text</key>
					<string>当然你傻!</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
			<dict>
				<key>commentId</key>
				<string>4</string>
				<key>fromUser</key>
				<dict>
					<key>userId</key>
					<string>0</string>
					<key>nickName</key>
					<string>柏拉图</string>
					<key>avatarUrl</key>
					<string></string>
					<key>text</key>
					<string>当然你傻！</string>
				</dict>
				<key>toUser</key>
				<dict>
					<key>userId</key>
					<string>3</string>
					<key>nickName</key>
					<string>杨洋</string>
					<key>avatarUrl</key>
					<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=413353707,3948222604&amp;fm=58</string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
